<div class="container">
    <div>
    <h2>Ajouter une parfume :</h2>
    </div>

    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
             <label >ID parfume</label>
             <input type="text" [(ngModel)]="newParfume.idParfume"
        name="idParfume" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Parfume</label>
        <input type="text"[(ngModel)]= "newParfume.nomParfume"
        name="nomParfume" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Nombre Parfumes</label>
        <input type="number" [(ngModel)]= "newParfume.nombreParfumes"
        name="nombreParfumes" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [(ngModel)]= "newParfume.dateCreation"
        name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat"
            [(ngModel)]="newIdCat">
            <option *ngFor="let cat of categories" [value]="cat.idCat" >
            {{cat.nomCat}}
            </option>
            </select>
            </div>
        <div class="mt-2">
        
        <button type="submit" (click)="addParfume()" class="btn btn-success">Ajouter</button>
        
        </div>
        </form>
        
        </div>

